.main-nav {
	display:flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid $light-gray;
	font-family: $sans-serif;
}

.left-nav > ul,
.right-nav > ul {
	display: flex;
	align-items: center;
	height: 30px;
}

.left-nav > ul > li {	
	margin-left: 5px;
	padding: 0px 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;

	a {
		color: $green;
		&:hover {
			text-decoration: none;
		}
	}
}

.right-nav > ul > li {
	margin-right: 20px;
	vertical-align: middle;
	cursor: pointer;
	font-size: 15px;
	padding: 0	px 10px;
	transition: background-color 0.3s;
	a {
		color: $gray;
		text-decoration: none;
		&:hover {
			color: $green;
		}
	}
	.new-club-link {
		border-right: 1px solid $light-gray;
		padding: 10px 20px;
		font-weight: bold;
		color: $green;
	}
}